<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dispatch WebSDK API Smaple Demo</title>
    <link rel="stylesheet" href="./assets/styles/index.css" />
    <link rel="stylesheet" href="./assets/js/element-plus/index.css" />
    <script src="./assets/js/flexible.js"></script>
    <script src="./assets/js/vue.global.js"></script>
    <script src="./assets/js/element-plus/index.js"></script>
    <script src="./assets/js/tailwindcss.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="w-full h-full flex flex-col overflow-hidden">
        <div
          class="h-10 flex items-center px-4 text-white text-sm bg-[#52575c]"
        >
          Dispatch WebSDK API Smaple Demo
        </div>
        <el-anchor
          :offset="70"
          direction="vertical"
          class="w-40 fixed top-12"
          style="--el-anchor-font-size: 14.0006px"
        >
          <el-anchor-link href="#desc"> DEMO说明 </el-anchor-link>
          <el-anchor-link
            v-for="item in anchors"
            :key="item.value"
            :href="`#${item.value}-demo`"
          >
            {{item.label}}
          </el-anchor-link>
        </el-anchor>

        <div class="flex1 w-full pl-52 pr-52 overflow-y-auto">
          <div id="desc" class="text-red-500 mt-10 text-2xl">说明： <br /></div>
          <div id="desc" class="text-red-500 text-sm mb-10">
            1.
            该SDK需依赖axios、crypto-js和socket.io，并且socket.io只能使用2.x版本。<br />
            2.
            使用软电话时，需要使用https协议；如使用http协议，则需要自行配置浏览器安全设置。比如edge需打开edge://flags/#unsafely-treat-insecure-origin-as-secure<br />
            3.
            该DEMO仅用于展示接口的使用，不能保证流程的完整性，操作不便的地方请忽略。该DEMO也不会对所有事件和状态进行处理。<br />
            4. 为保证软电话的正常使用，示例窗口只能打开一个。<br />
          </div>
          <template v-for="item in anchors" :key="item.value">
            <h1 :id="`${item.value}-demo`" class="text-4xl w-full my-6">
              {{item.label}}
            </h1>
            <div class="w-full grid grid-cols-4 gap-5 auto-rows-[8.333333rem]">
              <el-card
                class="relative"
                v-for="child in item.children"
                :key="child.value"
              >
                <span class="text-xl">{{child.label}}</span>

                <el-button class="absolute right-4 bottom-4" type="primary">
                  <el-button
                    type="primary"
                    @click="handleOpen(`${item.value}/${child.value}.html`)"
                  >
                    立即测试
                  </el-button>
                </el-button>
              </el-card>
            </div>
          </template>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref, onMounted } = Vue;

      createApp({
        setup() {
          const anchors = ref([
            {
              label: "基础示例",
              value: "basic",
              children: [
                { label: "用户登录", value: "login" },
                { label: "事件订阅", value: "eventSubscribe" },
                { label: "软电话注册", value: "softPhone" },
                // { label: "获取用户呼入队列", value: "callQueueList" },
                // { label: "获取用户号码状态", value: "callConnstatusList" },
              ],
            },
            {
              label: "呼叫示例",
              value: "call",
              children: [
                { label: "语音通话", value: "audioCall" },
                { label: "视频通话", value: "videoCall" },
                { label: "通话挂断", value: "clearCall" },
                // { label: "通话拆线", value: "clearConnection" },
                // { label: "通话应答", value: "answerCall" },
                // { label: "呼叫保持", value: "holdCall" },
                // { label: "呼叫转移", value: "transferCallSingle" },
                // { label: "呼叫转接", value: "transferCall" },
                // { label: "强插/强拆/强断/监听", value: "forceInsertCall" },
                // { label: "点名", value: "rollCall" },
                // { label: "轮询", value: "pollCall" },
                // { label: "强呼", value: "advanceCall" },
              ],
            },
            {
              label: "对讲示例",
              value: "intercom",
              children: [
                { label: "获取对讲号码", value: "intercomUser" },
                { label: "对讲", value: "makeCall" },
              ],
            },
            {
              label: "会议示例",
              value: "conference",
              children: [
                { label: "创建会议", value: "createMeet" },
                { label: "获取会议列表", value: "listMeet" },
                { label: "加入会议", value: "joinMeetCall" },
                { label: "组呼", value: "groupCall" },
                { label: "选呼", value: "selectCall" },
                { label: "获取会议成员", value: "listMeetMember" },
                { label: "会议踢人/结束会议", value: "kickMeet" },
                { label: "删除会议", value: "deleteMeet" },
                { label: "会议发言/禁言", value: "allowSpeak" },
                { label: "视频会商", value: "startMeetVideoMix" },
                // { label: "会议锁定", value: "conferenceroomLock" },
                // { label: "会议广播", value: "conferenceroomBroadcast" },

                // { label: "会议踢出", value: "conferenceroomKick" },

                // { label: "云台控制", value: "ptzControl" },

                // { label: "视频分发", value: "videoDispense" },
                // { label: "获取通话视频图像", value: "getVideoRtspUrl" },
              ],
            },
            {
              label: "视频监控示例",
              value: "monitor",
              children: [
                { label: "监控查询", value: "video" },
                { label: "打开视频监控", value: "openVideo" },
              ],
            },
            {
              label: "广播示例",
              value: "broadcast",
              children: [
                { label: "呼叫广播", value: "broadcastCall" },
                { label: "定时广播", value: "setTimingBroadcast" },
              ],
            },
            // {
            //   label: "短信示例",
            //   value: "sms",
            //   children: [
            //     { label: "获取短信列表", value: "smsList" },
            //     { label: "获取短信详细信息", value: "smsGet" },
            //     { label: "短信发送", value: "smsSend" },
            //     { label: "短信已读", value: "smsRead" },
            //   ],
            // },
            // {
            //   label: "传真示例",
            //   value: "fax",
            //   children: [
            //     { label: "获取传真列表", value: "faxList" },
            //     { label: "获取传真详细信息", value: "faxGet" },
            //     { label: "传真发送", value: "faxSend" },
            //     { label: "传真已读", value: "faxRead" },
            //   ],
            // },
            // {
            //   label: "位置订阅示例",
            //   value: "location",
            //   children: [
            //     { label: "定位位置订阅", value: "gpsSubscribe" },
            //     { label: "获取最新位置信息", value: "gpsLast" },
            //     { label: "获取历史位置信息", value: "gpsHistory" },
            //   ],
            // },
            {
              label: "通讯录示例",
              value: "contact",
              children: [
                { label: "部门查询", value: "group" },
                // { label: "部门维护", value: "groupOperation" },
                { label: "用户查询", value: "user" },
                // { label: "用户维护", value: "customVideoSource" },
              ],
            },
            // {
            //   label: "场景示例",
            //   value: "scense",
            //   children: [
            //     { label: "一场会议", value: "customConferenceMultiCall" },
            //     { label: "语音通知", value: "customBroadcastCall" },
            //     { label: "短信通知", value: "customSmsNotify" },
            //   ],
            // },
            // { label: "常见问题", value: "question", children: [] },
          ]);

          /**
           * 打开子窗口
           *
           */
          const handleOpen = (name) => {
            const token = sessionStorage.getItem("DispRTC-DEMO-token") || "";
            window.open(
              name +
                "?token=" +
                encodeURIComponent(token) +
                "&name=" +
                encodeURIComponent(name),
              "DispRTC-DEMO-SUB-WINDOW"
            );
          };
          /**
           * 接收子窗口消息
           */
          const handleSubwindowMsg = ({ source, data }) => {
            const { type } = data;
            console.log("收到子窗口消息", type, data);
            //需要登录
            if (type === "login") {
              sessionStorage.removeItem("DispRTC-DEMO-token");
              handleOpen("basic/login.html");
            } else if (type === "update_token") {
              sessionStorage.setItem("DispRTC-DEMO-token", data.token);
            }
          };

          onMounted(() => {
            window.addEventListener("message", handleSubwindowMsg, false);
          });

          return {
            anchors,
            handleOpen,
          };
        },
      })
        .use(ElementPlus)
        .mount("#app");
    </script>
  </body>
</html>
