<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>呼叫广播 Dispatch WebSDK API</title>

    <link rel="stylesheet" href="../assets/styles/index.css" />
    <link rel="stylesheet" href="../assets/js/element-plus/index.css" />
    <script src="../assets/js/flexible.js"></script>
    <script src="../assets/js/vue.global.js"></script>
    <script src="../assets/js/element-plus/index.js"></script>
    <script src="../assets/js/tailwindcss.js"></script>

    <!-- 导入axios依赖包-->
    <script src="../assets/js/axios.min.js"></script>
    <!-- socket.io依赖 -->
    <script src="../assets/js/socket.io.js"></script>
    <!-- sdk-->
    <script src="../sdk/dispatch-sdk.js"></script>
    <!-- 配置文件-->
    <script src="../assets/index.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="w-full h-full flex flex-col overflow-hidden">
        <div
          class="h-10 flex items-center px-4 text-white text-sm bg-[#52575c]"
        >
          呼叫广播
        </div>

        <div
          class="flex1 w-full px-10 pt-4 overflow-y-auto flex justify-center flex-nowrap"
        >
          <el-col :span="12" class="px-2">
            <div class="text-red-500 mb-2">
              说明：被叫号码为数组，可以多个，这里只写了二个
            </div>
            <el-form
              ref="formRef"
              :model="form"
              label-width="auto"
              :rules="rules"
              class="w-full"
            >
              <el-row :gutter="20" v-for="(item,index) in form.called">
                <el-col :span="12">
                  <el-form-item
                    :prop="`called[${index}].calledDevice`"
                    :label="`被叫号码${index}`"
                    :rules="index === 0 ?calledDeviceRules:[]"
                  >
                    <el-input v-model="item.calledDevice"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item
                    :prop="`called[${index}].userID`"
                    :label="`被叫用户${index}ID`"
                  >
                    <el-input v-model="item.userID"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="20">
                <el-col :span="12">
                  <el-form-item prop="callMode" label="广播模式">
                    <el-select v-model="form.callMode">
                      <el-option label="人工" value="manual"></el-option>
                      <el-option label="文件" value="file"></el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item
                    label="追呼次数"
                    prop="callLoop"
                    v-if="form.callMode === 'file'"
                  >
                    <el-autocomplete
                      v-model.number="form.callLoop"
                      :fetch-suggestions="querySearch"
                    >
                      <template #default="{ item }">
                        <div class="flex-nowrap">
                          <span class="value">{{ item.value }}</span>
                          <span class="link ml-4">{{ item.label }}</span>
                        </div>
                      </template>
                    </el-autocomplete>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-form-item
                v-if="form.callMode === 'file'"
                prop="fileName"
                label="广播文件"
              >
                <div class="w-full flex flex-nowrap">
                  <el-input v-model="form.fileName" disabled></el-input>
                  <el-button class="ml-2" type="info" @click="handleOpenFile">
                    选择文件
                  </el-button>
                  <el-upload
                    ref="uploadRef"
                    class="ml-2"
                    action=""
                    :auto-upload="true"
                    accept=".au,.mp3,.wav"
                    :limit="1"
                    :show-file-list="false"
                    :on-exceed="handleExceed"
                    :http-request="handleUpload"
                  >
                    <el-button type="warning"> 文件上传 </el-button>
                  </el-upload>
                </div>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="handleSubmit">
                  广播
                </el-button>
                <el-button
                  type="danger"
                  :disabled="!callSessionID"
                  @click="handleEndBroadcastCall"
                >
                  结束广播
                </el-button>
              </el-form-item>
            </el-form>
          </el-col>
          <el-col :span="12" class="px-2">
            <div class="flex items-center bg-[#52575c] h-10 px-3 text-white">
              订阅事件
            </div>
            <div class="flex mt-3">
              <el-input v-model="eventData" type="textarea" :rows="6" />
            </div>
          </el-col>
        </div>
      </div>
      <el-dialog
        v-model="showDialog"
        v-if="showDialog"
        title="选择广播文件"
        width="50%"
      >
        <el-table :data="fileList">
          <el-table-column
            prop="description"
            label="原文件名"
          ></el-table-column>
          <el-table-column prop="filename" label="实际文件名"></el-table-column>
          <el-table-column label="操作">
            <template #default="{ row }">
              <el-button type="primary" @click="handleSelectFile(row)">
                选择
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-dialog>
    </div>

    <script>
      const { createApp, ref, onBeforeMount } = Vue;

      createApp({
        setup() {
          const form = ref({
            called: [
              { calledDevice: "", userID: "" },
              { calledDevice: "", userID: "" },
            ],
            callLoop: 0,
            callMode: "file",
          });
          const formRef = ref(null);
          const eventData = ref();
          const data = ref([]);
          const calledDeviceRules = ref([
            {
              required: true,
              message: "请输入被叫号码",
              trigger: "blur",
            },
          ]);
          const rules = ref({
            callMode: [
              {
                required: true,
                message: "请选择广播模式",
                trigger: "blur",
              },
            ],
            fileName: [
              {
                required: true,
                message: "请选择广播文件",
                trigger: "blur",
              },
            ],
          });
          const rtcStream = ref(null);
          const isNewCall = ref(false);
          const meetData = ref(null);
          const showDialog = ref(false);
          const fileList = ref([]);
          const uploadRef = ref(null);
          const callSessionID = ref(""); //呼叫ID

          const querySearch = (str, callback) => {
            callback([
              { value: 0, label: "不追呼" },
              { value: -1, label: "循环广播" },
            ]);
          };

          const handleUpload = (options) => {
            DispRTC.client.file
              .uploadVoiceFile(options)
              .then((res) => {
                ElementPlus.ElMessage({
                  type: "success",
                  message: "上传文件成功",
                  showClose: true,
                });
                uploadRef.value.clearFiles();
              })
              .catch((err) => {
                console.error("uploadVoiceFile err", err);
                ElementPlus.ElMessage({
                  type: "error",
                  message: err.msg,
                  showClose: true,
                });
              });
          };

          const handleExceed = (files) => {
            uploadRef.value.clearFiles();
            const file = files[0];

            uploadRef.value.handleStart(file);
          };

          //获取语音文件
          const listVoiceFile = () => {
            DispRTC.client.file
              .listVoiceFile()
              .then((res) => {
                fileList.value = res.data.list;
                console.log("listVoiceFile", res);
              })
              .catch((err) => {
                console.error("listVoiceFile err", err);
                fileList.value = [];
              });
          };

          const handleOpenFile = async () => {
            await listVoiceFile();
            showDialog.value = true;
          };
          //选择文件
          const handleSelectFile = (row) => {
            form.value.fileName = row.filename;
            showDialog.value = false;
          };

          /**
           * 提交表单
           */
          const handleSubmit = () => {
            formRef.value.validate((valid, fields) => {
              if (valid) {
                let data = { ...form.value };
                data.called = data.called.filter((e) => !!e.calledDevice);
                DispRTC.client.callSessions
                  .broadcastCall(data)
                  .then((res) => {
                    console.log("broadcastCall", res.data);
                    callSessionID.value = res.data.callSessionID;
                    ElementPlus.ElMessage({
                      type: "success",
                      message: "调用广播接口成功",
                      showClose: true,
                    });
                  })
                  .catch((err) => {
                    ElementPlus.ElMessage({
                      type: "warning",
                      message: err.msg,
                      showClose: true,
                    });
                  });
              }
            });
          };

          //结束广播
          const handleEndBroadcastCall = () => {
            DispRTC.client.callSessions
              .endBroadcastCall({ callSessionID: callSessionID.value })
              .then((res) => {
                callSessionID.value = null;
              })
              .catch((err) => {
                console.error("endBroadcastCall err", err);
                ElementPlus.ElMessage({
                  type: "warning",
                  message: err.msg,
                  showClose: true,
                });
              });
          };

          const handleAnswer = () => {
            rtcStream.value.sipAnswer({
              callType:
                rtcStream.callType === "audio/video" ? "video" : "audio",
            });
          };

          //事件处理
          const handleEvent = ({ data, eventType }) => {
            console.log("handleEvent", eventType, data);
            eventData.value = JSON.stringify({ data, eventType });

            switch (eventType) {
              case "LoginStatus":
                ElementPlus.ElMessage.closeAll();
                ElementPlus.ElMessage({
                  type: "warning",
                  message: data.msg,
                });
                if ([403, 480].includes(data.code)) {
                  //清除本地缓存
                  localStorage.removeItem("DispRTC-token");
                }
                break;
              case "MeetMemberEvent_Add": //会议成员事件-新增
                //因为meetID不是手动输入的，这里监听会议成员获取会议ID,查询时就不用手动输入了
                if (data.activeDevice === form.value.calledDevice) {
                  form2.value.meetID = data.meetID;
                }
              case "MeetMemberEvent_Del": //会议成员事件-删除
                break;
              case DispRTC.Types.EventType.RTC_STREAM_SESSION_EVENT:
                const event = data.event;
                //来电
                if (
                  DispRTC.Types.RTCStreamEventType.ON_NEW_CALL === event.type
                ) {
                  //接听按钮
                  rtcStream.value = data.rtcStream;
                  isNewCall.value = true;
                  //主叫号码，这里自动接听
                  handleAnswer();
                } else if (
                  DispRTC.Types.RTCStreamEventType.ON_DISCONNECT ===
                    event.type ||
                  DispRTC.Types.RTCStreamEventType.ON_HANGUP === event.type
                ) {
                  rtcStream.value = null;
                  isNewCall.value = false;
                }
                break;
            }
          };

          // 订阅事件
          const subscribeEvent = () => {
            //可以针对特定的事件，也可以针对所有事件，这里订阅所有事件
            DispRTC.client.on("All", handleEvent);
          };

          onBeforeMount(() => {
            subscribeEvent();
          });

          return {
            form,
            formRef,
            rules,
            handleSubmit,
            eventData,
            data,
            handleAnswer,
            isNewCall,
            querySearch,
            calledDeviceRules,
            showDialog,
            handleOpenFile,
            fileList,
            handleSelectFile,
            handleExceed,
            handleUpload,
            uploadRef,
            handleEndBroadcastCall,
            callSessionID,
          };
        },
      })
        .use(ElementPlus)
        .mount("#app");
    </script>
  </body>
</html>
